<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>43525702306-9reqjnj7hebt27ihsr4d6s0tkk18bvue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43525702306-9reqjnj7hebt27ihsr4d6s0tkk18bvue</string>
	<key>API_KEY</key>
	<string>AIzaSyABfIPM-DgNBlJcHsXBcDlXFjwkhHf606c</string>
	<key>GCM_SENDER_ID</key>
	<string>43525702306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.proj1compnet</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-5e242</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-5e242.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43525702306:ios:ca00529edf86ead5</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-5e242.firebaseio.com</string>
</dict>
</plist>